.article-style {
    background-image: linear-gradient(90deg,rgba(250,200,200,.05) 3%,rgba(0,0,0,0) 3%),linear-gradient(360deg,rgba(250,200,200,.05) 3%,rgba(0,0,0,0) 3%);
	background-size: 20px 20px;
	background-position: 50%;
}

.navbar {
	position: absolute;
}

body {
	font-size: 0.85rem;
}

.dark a, .dark h3.article-title a:hover {
	color: #738ffe;
}

.dark pre, .dark code {
	color: #d0d445;
	background-color: #0a0e22;
}

.dark .home-section {
	background-color: #272935;
}

.dark .home-section:nth-of-type(2n) {
	background: #152f40;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
	color: #edda38;
}
